:host {
  display: grid;
}

:host(.scarlet-grid-host--align-start) {
  align-items: start;
}

:host(.scarlet-grid-host--align-center) {
  align-items: center;
}

:host(.scarlet-grid-host--align-end) {
  align-items: end;
}

:host(.scarlet-grid-host--align-stretch) {
  align-items: stretch;
}
