:host {
  display: block;
  width: 100%;
}

:host(.scarlet-container-host--sm) {
  max-width: 640px;
}

:host(.scarlet-container-host--md) {
  max-width: 768px;
}

:host(.scarlet-container-host--lg) {
  max-width: 1024px;
}

:host(.scarlet-container-host--xl) {
  max-width: 1280px;
}

:host(.scarlet-container-host--2xl) {
  max-width: 1536px;
}

:host(.scarlet-container-host--full) {
  max-width: none;
}

:host(.scarlet-container-host--padding) {
  padding-left: var(--scarlet-space-4);
  padding-right: var(--scarlet-space-4);
}

:host(.scarlet-container-host--center) {
  margin-left: auto;
  margin-right: auto;
}
