@import '../../tokens/typography-mixins';

:host {
  display: block;
}

:host(.scarlet-divider-host--horizontal) {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--scarlet-border-width-1);
  margin: var(--scarlet-space-4) 0;
  background-color: var(--scarlet-color-border-secondary);
}

:host(.scarlet-divider-host--horizontal):has(.scarlet-divider__label) {
  height: auto;
  background-color: transparent;
  gap: var(--scarlet-space-3);
}

:host(.scarlet-divider-host--vertical) {
  display: inline-block;
  width: var(--scarlet-border-width-1);
  align-self: stretch;
  margin: 0 var(--scarlet-space-4);
  background-color: var(--scarlet-color-border-secondary);
}

.scarlet-divider__line {
  flex: 1;
  height: var(--scarlet-border-width-1);
  background-color: var(--scarlet-color-border-secondary);
}

.scarlet-divider__label {
  @include scarlet-text-caption;
  flex-shrink: 0;
  color: var(--scarlet-color-text-tertiary);
}
