@import '../../../tokens/field-mixins';

:host {
  display: block;
}

.scarlet-input-percentage__label {
  @include scarlet-field-label;
}

.scarlet-input-percentage__required {
  @include scarlet-field-required;
}

.scarlet-input-percentage {
  @include scarlet-field-input;
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.scarlet-input-percentage--invalid {
  @include scarlet-field-invalid;
}

.scarlet-input-percentage--xs {
  @include scarlet-field-size(xs);
}

.scarlet-input-percentage--sm {
  @include scarlet-field-size(sm);
}

.scarlet-input-percentage--md {
  @include scarlet-field-size(md);
}

.scarlet-input-percentage--lg {
  @include scarlet-field-size(lg);
}

.scarlet-input-percentage--xl {
  @include scarlet-field-size(xl);
}

.scarlet-input-percentage__message {
  @include scarlet-field-message;
}

.scarlet-input-percentage__message--error {
  @include scarlet-field-message-error;
}
