@import '../../../tokens/field-mixins';

:host {
  display: block;
}

.scarlet-input-currency__label {
  @include scarlet-field-label;
}

.scarlet-input-currency__required {
  @include scarlet-field-required;
}

.scarlet-input-currency {
  @include scarlet-field-input;
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.scarlet-input-currency--invalid {
  @include scarlet-field-invalid;
}

.scarlet-input-currency--xs {
  @include scarlet-field-size(xs);
}

.scarlet-input-currency--sm {
  @include scarlet-field-size(sm);
}

.scarlet-input-currency--md {
  @include scarlet-field-size(md);
}

.scarlet-input-currency--lg {
  @include scarlet-field-size(lg);
}

.scarlet-input-currency--xl {
  @include scarlet-field-size(xl);
}

.scarlet-input-currency__message {
  @include scarlet-field-message;
}

.scarlet-input-currency__message--error {
  @include scarlet-field-message-error;
}
