@import '../../../tokens/breakpoints';

:host {
  display: block;
  width: 100%;
}

:host(.scarlet-container-host--sm) {
  max-width: $scarlet-breakpoint-sm;
}

:host(.scarlet-container-host--md) {
  max-width: $scarlet-breakpoint-md;
}

:host(.scarlet-container-host--lg) {
  max-width: $scarlet-breakpoint-lg;
}

:host(.scarlet-container-host--xl) {
  max-width: $scarlet-breakpoint-xl;
}

:host(.scarlet-container-host--2xl) {
  max-width: $scarlet-breakpoint-2xl;
}

:host(.scarlet-container-host--full) {
  max-width: none;
}

:host(.scarlet-container-host--padding) {
  padding-left: var(--scarlet-space-4);
  padding-right: var(--scarlet-space-4);
}

:host(.scarlet-container-host--center) {
  margin-left: auto;
  margin-right: auto;
}
